<div class="first-screen">
    <div class="container">
        <div class="first-screen__family"></div>
        <div class="row">

            <div class="fs-text">
                <div class="fs-text__wrapper">
                    <div class="fs-text__h1">House of Your Dream</div>
                    <div class="fs-text__h2">We Will Help to Find It</div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="search">
                <div class="search__title">Find Your Home</div>

                <form action="#" class="search__form" name="search__form">

                    <div class="search__item">
                        <div class="search__label">Property Type</div>

                        //= search-select.html
                    </div>

                    <div class="search__item">
                        <div class="search__label">Location</div>

                        //= search-select.html
                    </div>

                    <div class="search__item">
                        <div class="search__label">Property Status</div>

                        //= search-select.html
                    </div>

                    <div class="search__item">
                        <div class="search__label">Price Range</div>

                    </div>

                    <div class="search__item">
                        <div class="search__wrapper search__wrapper--left">
                            <div class="search__label">Beds</div>

                            //= search-select.html

                        </div>
                        <div class="search__wrapper search__wrapper--right">
                            <div class="search__label">Baths</div>

                            //= search-select.html

                        </div>
                    </div>

                    <div class="search__item">
                        <div class="search__wrapper search__wrapper--left">
                            <div class="search__label">Area <span class="search__unit">(Sq Ft)</span></div>

                            //= search-select.html

                        </div>
                        <div class="search__wrapper search__wrapper--right">
                            <input class="search__submit" type="submit" value="find now">
                        </div>
                    </div>

                </form>

            </div>

            <div class="search__find">
                <a class="search__find-link" href="#">find now</a>
            </div>
        </div>
    </div>
</div>