<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="social">
                <a href="#" class="social__item"><i class="social__icon social__icon--facebook"></i></a>
                <a href="#" class="social__item"><i class="social__icon social__icon--linkedin"></i></a>
                <a href="#" class="social__item"><i class="social__icon social__icon--twitter"></i></a>
                <a href="#" class="social__item"><i class="social__icon social__icon--gplus"></i></a>
                <a href="#" class="social__item"><i class="social__icon social__icon--vimeo"></i></a>
                <a href="#" class="social__item"><i class="social__icon social__icon--pinterest"></i></a>
            </div>

            <div class="top-right">

                <div class="top-right__item work-times">
                    <i class="work-times__icon"></i>
                    <span class="work-times__text">Open House: Mon - Fri – 9:00 - 18:00</span>
                </div>

                <div class="top-right__item language">
                    <div class="language__item language__item--gb">
                        <img src="img/gb_flag.png" alt="flag" class="language__flag">
                        <span class="language__name">English</span>
                        <i class="language__icon"></i>
                    </div>
               <!--     <div class="language__item language__item&#45;&#45;ua">
                        <img src="img/gb_flag.png" alt="flag" class="language__flag">
                        <span class="language__name">Ukraine</span>
                    </div>-->

                    <!-- TODO: dropdown-->
                </div>

                <div class="top-right__item currency">
                    <div class="currency__item currency__item--usd">usd <i class="currency__icon"></i></div>

                    <!-- TODO: dropdown-->

                    <!--<div class="currency__item currency__item&#45;&#45;uah">uah</div>-->
                </div>

                <div class="top-right__item register">
                    <i class="register__icon"></i>
                    <a href="#" class="register__link">Login</a> /
                    <a href="#" class="register__link">Register</a>
                </div>
            </div>
        </div>
    </div>

</div>
