<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="social social__hidden-xs">
                //= social.html
            </div>

            <div class="top-right">

                <div class="top-right__item work-times">
                    <i class="work-times__icon"></i>
                    <span class="work-times__text">Open House: Mon - Fri – 9:00 - 18:00</span>
                </div>

                <div class="social social__visible-xs">
                    //= social.html
                </div>

                <div class="top-right__item language">
                    <a href="#" class="language__item language__item--gb">
                        <img src="img/gb_flag.png" alt="flag" class="language__flag">
                        <span class="language__name">English</span>
                        <i class="language__icon"></i>
                    </a>
                    <ul class="language__list">
                        <li class="language__list-item">
                            <a href="#" class="language__item language__item--gb1">
                                <img src="img/gb_flag.png" alt="flag" class="language__flag">
                                <span class="language__name">English</span>
                            </a>
                        </li>
                        <li class="language__list-item">
                            <a href="#" class="language__item language__item--gb1">
                                <img src="img/gb_flag.png" alt="flag" class="language__flag">
                                <span class="language__name">English</span>
                            </a>
                        </li>
                        <li class="language__list-item">
                            <a href="#" class="language__item language__item--gb1">
                                <img src="img/gb_flag.png" alt="flag" class="language__flag">
                                <span class="language__name">English</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="top-right__item currency">
                    <div class="currency__item currency__item--usd">usd <i class="currency__icon"></i></div>

                    <div class="currency__list">
                        <div class="currency__list-item currency__item--usd">usd</div>
                        <div class="currency__list-item currency__item--usd">usd</div>
                        <div class="currency__list-item currency__item--usd">usd</div>
                    </div>

                </div>

                <div class="top-right__item register">
                    <i class="register__icon"></i>
                    <a href="#" class="register__link">Login</a> /
                    <a href="#" class="register__link">Register</a>
                </div>
            </div>
        </div>
    </div>

</div>
