<div class="header-contacts">
    <div class="container">
        <div class="row">

            <div class="contacts__item">
                <div class="logo">
                    <img class="logo__img" src="img/logo.png" alt="logo" >
                </div>
            </div>

            <div class="contacts__item">
                <div class="contacts__icon">
                    <i class="contacts__icon--call"></i>
                </div>
                <div class="contacts__text">
                    <div class="contacts__title">call us:</div>
                    <div class="contacts__description">
                        <a class="contacts__link" href="tel:435-234-9867">435-234-9867</a>
                    </div>
                </div>
            </div>

            <div class="contacts__item">
                <div class="contacts__icon">
                    <i class="contacts__icon--mail"></i>
                </div>
                <div class="contacts__text">
                    <div class="contacts__title">mail us:</div>
                    <div class="contacts__description">
                        <a class="contacts__link" href="mailto:info@luxurylife.com">info@luxurylife.com</a>
                    </div>
                </div>
            </div>

            <div class="contacts__item">
                <div class="contacts__icon">
                    <i class="contacts__icon--visit"></i>
                </div>
                <div class="contacts__text">
                    <div class="contacts__title">visit us:</div>
                    <div class="contacts__description">
                        <a class="contacts__link" href="#">Beverly Hills, CA 90210</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>