<div class="menu">
    <div class="menu__item menu__parent">
        <a class="menu__link" href="#">home</a>
        <div class="submenu">
            <div class="submenu__item"><a class="submenu__link" href="#">Commercial real estate</a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">News in the world of real estate </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Shop </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Suburban real estate </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Foreign real estate </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Real estate foreign</a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Realtor</a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Small builder </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Large builder </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Cottage town </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Object </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Rent of Apartments </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Rent of commercial real estate </a></div>
            <div class="submenu__item"><a class="submenu__link" href="#">Rent by the day resort objektot</a></div>
        </div>
    </div>
    <div class="menu__item"><a class="menu__link" href="#">properties</a></div>
    <div class="menu__item"><a class="menu__link" href="#">agents</a></div>
    <div class="menu__item"><a class="menu__link" href="#">blog</a></div>
    <div class="menu__item"><a class="menu__link" href="#">idx</a></div>
    <div class="menu__item"><a class="menu__link" href="#">pages</a></div>
    <div class="menu__item"><a class="menu__link" href="#">features</a></div>
</div>

<div class="object">
    <div class="object__item"><a class="object__link" href="#">sunmit object</a></div>
</div>


