<div class="search__select-wrap">
    <div class="search__select">Any</div>

    <ul class="search__drop">
        <li class="search__options">Donec convallis orci est</li>
        <li class="search__options">Morbi id vestibulum ante</li>
        <li class="search__options">Nullam eget metus</li>
        <li class="search__options">Duis vulputate lacinia magna</li>
        <li class="search__options">Ut egestas elit id ligula</li>
    </ul>
    <input class="search__result" type="hidden" id="select"  />
</div>