<a href="#" class="social__item"><i class="social__icon social__icon--facebook"></i></a>
<a href="#" class="social__item"><i class="social__icon social__icon--linkedin"></i></a>
<a href="#" class="social__item"><i class="social__icon social__icon--twitter"></i></a>
<a href="#" class="social__item"><i class="social__icon social__icon--gplus"></i></a>
<a href="#" class="social__item"><i class="social__icon social__icon--vimeo"></i></a>
<a href="#" class="social__item"><i class="social__icon social__icon--pinterest"></i></a>