.logo {
  &__img {}
}

.contacts {
  &__item {
    @extend .col-md-3;
    @extend .col-sm-3;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &:nth-of-type(1) {
      justify-content: flex-start;
    }
  }
  &__icon {
    height: 60px;
    width: 60px;
    float: left;
    border: 2px solid $green;
    border-radius: 50%;
    line-height: 55px;
    text-align: center;
    margin-right: 40px;
    @include max-screen($ipad-landscape) {margin-right: 15px;}
    @extend .hidden-sm;
    &--call {
      @extend .fa-phone;
    }
    &--mail {
      @extend .fa-envelope;
    }
    &--visit {
      @extend .fa-map-marker;
    }
  }
  &__text {
    line-height: 1.5;
    padding: 10px 0;
  }
  &__title {
    @include big-text($black, $normal);
    text-transform: uppercase;
  }
  &__description {
    @include normal-text($black, $big);
  }
  &__link {
    text-decoration: none;
  }
}