@import "bootstrap-custom";
@import "font";
//@import "../libs/font-awesome/scss/font-awesome";
@import "media-queries";
@import "variable";
@import "header";
@import "first-screen";

$fa-font-path: "/fonts/font-awesome";
@import "../../bower/font-awesome/scss/font-awesome.scss";

* {
  //outline: 1px lightskyblue dotted;
}
* {
  box-sizing: border-box;
  color: $grey;
  //font-family: $Regular;
}
i {
  @extend .fa;
}
