@font-face {
  font-family: "PT_Sans-Caption-Web-Bold";
  src: url("../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "PT_Sans-Caption-Web-Regular";
  src: url("../fonts/PT_Sans_Caption/PT_Sans-Caption-Web-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

$Regular: "PT_Sans-Caption-Web-Regular", Helvetica, Arial, sans-serif;
$Bold: "PT_Sans-Caption-Web-Bold", Helvetica, Arial, sans-serif;

// font-size
$large: 72px;
$big: 48px;
$normal: 21px;
$small: 1em;

//  color
$black: #222222;
$yellow: #eddb7a;
$red: #d83737;
$red-dark: #952828;
$red-light: #f53939;

// device width
$ipad-portrait: 768px;

$header_height: 50px;

