// font-size
$big: 15px;
$normal: 14px;
$small: 13px;

//  color
$grey: #808080;
$light-grey: #e7e4e4;
$green: #b2d12d;
$orange: #f26c1c;
$black: #000;

//$Light: "Lato-Light", Helvetica, Arial, sans-serif;
$Regular: "Lato-Regular", Helvetica, Arial, sans-serif;
$Bold: "Lato-Bold", Helvetica, Arial, sans-serif;

@mixin normal-text ($color, $size) {
  color: $color;
  font-family: $Regular;
  font-size: $size;
}
@mixin big-text ($color, $size) {
  color: $color;
  font-family: $Bold;
  font-size: $size;
}

@mixin border($color, $top, $right, $bottom, $left) {
  border: {
    //color:;
    top: $top $color;
    right: $right $color;
    bottom: $bottom $color;
    left: $left $color;
    style: solid;
  }
}


// device width
$ipad-portrait: 768px;

