//$Regular: "PT_Sans-Caption-Web-Regular", Helvetica, Arial, sans-serif;
//$Bold: "PT_Sans-Caption-Web-Bold", Helvetica, Arial, sans-serif;

// font-size
$large: 72px;
$big: 48px;
$normal: 21px;
$small: 1em;

//  color
$black: #222222;
$yellow: #eddb7a;
$red: #d83737;
$red-dark: #952828;
$red-light: #f53939;

// device width
$ipad-portrait: 768px;

$header_height: 50px;

